.grid{
    display: grid;
    width: 40vw ; 
}
.grid-col-2{
    grid-template-columns: repeat(2, 1fr); 
}
.grid-col-3{
    grid-template-columns: repeat(3, 1fr); 
}
.grid-item{
    background-color:yellow ;
    color: black ;
    height: 5rem; 
}