@import url(../Components/components.css);
:root{
    --doc-txt-color :rgb(134, 190, 223);
}

*{
    /* background: white; */
}

hr{
    padding: 0.5rem;
    background-color: rgb(155, 11, 11);

}
.logo-color{
background-color: black;
}

header{
    position: sticky;
    top: 0rem;  
    z-index: 9999;
}
.doc-container
{   display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
}
.aside-li,.aside-a,.aside-ul
{                                           
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 100%;
}
aside{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 6rem ;
    width: 15% ;
    height: 20rem ;
}
main{  
    width: 100%;
    height: auto;
}
.doc-header{
    padding-left: 2rem;
    font-size: 2.5rem;
    color: var(--doc-txt-color); 
}
.doc-avatar{  
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    gap: 1rem;
}
.doc-label{
    font-size: 1.5rem;
    padding-bottom: 1rem;                                                
}
.doc-badge{  
    flex-direction: column;                                                        
}

.doc-icon-badge{
    display: flex;
    flex-direction: row;
    gap: 2rem;                                                      
}
.doc-badge-avatar{
    display: flex;
    flex-direction: row;
    gap: 2rem; 
}




