header{
    position: sticky;
    top: 0rem;
    
}

.doc-container{
    display: flex;
    margin-left: 4rem;
    margin-right: 4rem;
}

.aside-li,.aside-a,.aside-ul{
    /* background-color: tomato; */
    color: white;
    font-size: 2rem;
    text-decoration: none;
    list-style: none;
    text-align: center;
    width: 100%;
    
}

.aside-li{
    border: 2px solid white;
}

aside{
    display: flex;
    justify-content: center;



    position: sticky;
    top: 6rem ;
    /* background-color: tomato; */
    
    width: 15% ;
    height: 20rem ;

    /* padding: ;
    margin-bottom: ;  */
}

main{
    color: white;
    background-color: turquoise;
    flex-grow: 1;
}
.content{
    
    background: rgb(200, 200, 200);
    height: 300px;
    padding: 20px;
    margin-bottom: 20px;
}