@import url(../Components/components.css);

/* header  */
 
:root{
    --bg-color : #FCF8F7;
    --text-color : #42081e;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    
}
.doc-navbar{ 
    width: 100%;
    height: 4rem;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.doc-nav-logo-txt , .doc-nav-logo ,.doc-nav-link{
    font-size: 2rem;
    color: var(--text-color);
}
.doc-nav-logo-icon{
    border: 4px solid var(--text-color);
    border-radius: 50%;
    padding: 0.2rem ;
    margin-left: 2rem;
}
 .doc-nav-link-icon{
   font-size: 2.5rem;
    margin-right: 2rem;
} 

/* documentation css  */
.doc-container
{   display: flex;
    margin-top: 5rem;
    margin-left: 1rem;
}
.aside-li,.aside-a,.aside-ul
{                                           
    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;
    text-align: left;
    width: 100%;
    margin-bottom: 2rem;
    color: var(--text-color);
    padding-left:1rem ;
}

.aside-li:hover{
    border-right: 6px solid var(--text-color);
    text-decoration: underline;
}

.aside-li-head{
    color: inherit;
    font-size: 1.5rem; 
    font-weight: 600;
}

aside{
    display: flex;
    justify-content: center;
    position: sticky; 
    top: 5rem;
    width: 15% ;
    height: 90vh;
    overflow-y: auto;
    padding-top: 1rem;
    background-color: var(--bg-color);
   
}
main{  
    width: 100%;
    height: 90vh;
    padding-right: 20rem;
    position: sticky;
    top: 5rem;
    overflow-y: auto;
}

.component-div{

    background-color: var(--bg-color);
    margin-left: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.doc-header{
    padding-left: 2rem;
    font-size: 2.5rem;
    color: var(--text-color); 
}
.doc-avatar{  
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    gap: 1rem;
    
}
.doc-label{
    font-size: 1.5rem;
    padding-bottom: 1rem;                                                
}
.flex-col{  
    flex-direction: column;                                                        
}

.component-show{
    gap: 2rem;  
    background-color: var(--white);
    padding: 2rem 4rem 2rem 4rem;
}


.padd-left-sm{
padding: 8px;
}


